/******************** General *********************/
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
/********************************************************************************************************Variables**************************/
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --info-icon-color :#D9D9D9;
}
/******************************************************************************************************************************************/
.fa-solid {
    color: var(--main-color);
}
body {
    display: flex;
    justify-content: center;
}
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}
html {
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
    min-width: 1024px;
}

/* texte noir, sans souligné */
a {
    color: inherit;
    text-decoration: none;
}

h1{
    font-size: 22px;
    margin-bottom: -10px;
}

/* Les titres de section h2 */
.section-title {
        margin: 0;
        font-size: 22px;
    }
h3{
    font-size: 18px;  
}
/* titre du footer */    
h4 {
font-size: 16px;
font-weight: bold;
margin-bottom: -10px;
}

/* titre information */
h5{
    font-weight: normal;
    font-size: 16px;
}
p{
    font-size: 14px;
}

/*****************cards*********************/
/*les articles*/
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    /*ombre portée sur l'article*/
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-top: 33px;
}

/*******************************************************************************************adaptation de l'image à la taille de l'article**********/
.card img {
    object-fit: cover;
}
/****************************************************************************************************************************************************/

/*titre h3 dans les articles*/
.card-title {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.euro {
    font-weight: 700;
}

/*couleur de l'etoile grise*/
.neutral-star {
    color: var(--main-bg-color)
}

/**********************header**********************/
/*Flexbox pour le header*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
/*Flexbox pour le menu de navigation*/
nav ul {
    display: flex;
}

nav li {
    padding: 30px 40px;
}
/*barre non visible en temps normal*/
.menu a {
    border-top: solid 3px transparent;
    padding-top:20px;
}
/*au survol : barre bleu et couleur*/
/**************************************************************************************************************************survol*******/
.menu a:hover{   
    border-top: solid 3px var(--main-color);
    color: var(--main-color); 
    cursor: pointer; 
}
/***************************************************************************************************************************************/
/* taille du logo 61,9px * 19px */
#logo img {
    width: 62px;
    height: 19px;
}

/**************Recherche ********************/

.search-section{
    margin-bottom: 30px;
}

/*module de recherche en flexbox*/
.search{
    display: flex;
}

.search *{
    padding: 16px 24px;
    font-size: 18px;
}

/*l'icone noir sur fond gris*/
.search i{
    color:black;
    background-color:var(--main-bg-color);
    border-radius: 1rem 0 0 1rem;
}

/*la zone de saisie bordure gris clair*/
.search input{
    border: 1px solid var(--main-bg-color);
}

/*texte de subtitution*/
.search input::placeholder{
    font-weight: bold;
    color:black;
}

/*bouton texte blanc sur fond bleu*/
.search button{
    background-color: var(--main-color);
    color :white;
    font-weight: bold;
    border-radius: 0 1rem 1rem 0;
    border:none;
}

.search button:hover {
    cursor: pointer;
}


/******************filtres************************/

/*section filtre en flexbox*/
.filter-section{
    display:flex;
    align-items: center;
    gap:15px;
    margin-bottom: 15px;
}

/*bordure des filtres*/
.filter{
    border:2px solid var(--main-bg-color);
    border-radius: 2rem;
}

/*les boutons filtre*/
.filter-button{
    font-size: 17px;
    font-weight: bold;
    padding: 0 15px 0 0;
}

/*icone*/
.filter i{
    color: var(--main-color);
    padding: 15px;
    font-size: 22px;
}

/*au survol*/
.filter:hover{
    background-color:var(--filter-bg-color) ;
    cursor: pointer;
}

/**************informations*********************/
/*section information en flexbox*/
.info-section{ 
    display: flex;
    align-items: center;
    gap:10px;
    margin-bottom: 15px;
  }

  /*construction de l'icone*/
.info-section i{
    color:var(--main-color);
    font-size: 12px;
    width: 1.3rem;
    height: 1.3rem;
    border: 1px solid var(--info-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

/*Les 2 sections de la partie hebergements et populaires*/
.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
/*section hebergement en flexbox*/
/*******************************************************************************************************************flexbox***************/
.hebergements-cards{
    display: flex;
    /*flex-direction: row;*/
    /*align-items: center;*/
    flex-wrap: wrap;
    gap: 16px; /*espace entre les articles*/
    justify-content: space-around;
    margin-bottom: 16px;
}
/*taille des articles 1/3 de la largeur totale*/
.hebergements-cards article{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
    margin-bottom: 30px;
    flex-basis: 28%; /*taille initiale des articles*/
   /* min-width: 20%;*/
}
/***************************************************************************************************************************************/
/* titre pas de retour à la ligne*/
.hebergements-cards h3{
    white-space: nowrap;
}
/*les images couvrent la largeur de la carte*/
.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content{
    margin-left: 5px;   
}
.hebergements-cards .card-content *{
    margin: 3px 0 3px 0;
}
.lien{
    font-weight: bold;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    /*margin-top: 33px;*/
}
.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/**************activités*******************/

.activites{
    margin-top: 60px;
}

.activites h3{
    padding-left:15px;
    white-space: nowrap;
}

.activites .card{
    padding-top: 5px;
} 

.activites img {
    height: 400px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
    
/*positionnement des activites en flexbox*/
.activites-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

/* Taille des articles (enfants directs) de activites-cards*/
.activites-cards > *{
    width: 23%;
}


/*****************footer*********************/
footer{
    background-color:var(--main-bg-color) ;
    display: flex;
    justify-content:space-between;
    width: 100%;
    margin-top: 60px;
    padding: 10px 150px 10px 20px;

}
footer * {
    padding-bottom: 10px;
}
/*sans puce avec padding herité*/
ul {
    list-style-type: none;
    padding: unset;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
/****************reduction de la taille de la police, du padding de la page et de la taille des cards***************************/
}
@media (min-width: 1025px) and (max-width:1240px){
    .main-container {
        padding: 0 10px;
    } 
    .card-title {
        /*titre h3 dans les articles*/
        font-size: 14px;
    }  
    .hebergements-cards article{
        min-width: 31%;
    }
}
/******************************************************************************************************************************/

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}